html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.topnav {
  display:inline-block;
  text-align:right;
  overflow: hidden;
  background-color:white;
  top:-10em;
  width:100%;
  height:70px;
  top:0px;
  left:0px;
  position:fixed;
  z-index: 100;
}

a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-right:30px;
  font-family: 'Quicksand', sans-serif;
}

.topnav a:hover {
  font-family: 'Quicksand', sans-serif;
  color:steelblue;
  border-radius:100px;
}

a.active {
  color:dodgerblue;
  font-size:18px;
  font-family:'Quicksand', sans-serif;
}

.topnav .icon {
  display: none;
}

.intro {
  margin-left:10%;
  margin-right:10%;
  text-align:left;
  margin-top:30%;
  margin-bottom:15%;
}

.intro2 {
  margin-left:10%;
  margin-right:10%;
  text-align:left;
  margin-top:5%;
  margin-bottom:15%;
  color:black;
}

}
.about {
  margin-left:25%;
  margin-right:25%;
  text-align:left;
  margin-top:10%;
  margin-bottom:10%;
}

.outro {
  text-align:center;
  margin-bottom:8%;
}

.title {
  text-align:center;
  margin-top:15%;
  margin-bottom:10%;
  
}

.logo {
  float:left;
  width:170px;
  height:50px;
  margin-left:10px;
  margin-top:10px;
}

.photo {
  position:relative;
  margin-left: 31%;
  margin-top:2%;
}

.ig{position: relative;
  float:right;
}

.contact {
  font-size:1em;
  font-family: 'Quicksand', sans-serif;
  color:black;
}
}

.image {
  transition: .7s;
  margin-top:-5px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* relevant styles */
.img__wrap {
  display:inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .4s;
  text-align: center;
  height: 100%;
  width: 100%
}

.text {
  position: relative;
  text-align:center;
}

textarea {
  background-color:white;
  width:6vw;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;

}

.img_img {
  position:relatives;
  width:100%;
  height:100%;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.banner {
  margin-top:60px;
}

/* default aka mobile view */
h1 {font-size:3em;
  font-family: 'Quicksand', sans-serif;
  color:black;
  letter-spacing: 1px;

}

h2 {font-size:1.5em; 
  font-family: 'Montserrat', sans-serif;
  color:#005099;
  margin-bottom:2%;
  font-weight:2px;

}

h3 {font-size:21px;
  font-family: 'Quicksand', sans-serif;
  color:black;
}

p {font-size:1em;
  font-family: 'Quicksand', sans-serif;
  color:black;
  line-height:35px;
  margin-bottom:5%;

}

h4 {font-size:1.2em;
  font-family: 'Montserrat', sans-serif;
  color:black;
  text-decoration: bold;
}

h5 {font-size:1.2em;
  font-family: 'Montserrat', sans-serif;
  color:#9e9e9e;
  text-decoration: bold;
}

h6 {font-size:.8em;
  font-family: 'Montserrat', sans-serif;
  color:grey;
  font-weight:.5;
  line-height: -3em;
  margin-bottom: .5em;
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

#top {margin-top:30px;
}


.projects {
  margin-right:5%;
  margin-left:5%;
}

.column{
    width:100%;
    position:relative;
    margin-bottom:2em;
  }

.column-project{
    width:100%;
    position:relative;
    margin-bottom:2em;
  }

.column3{
    position:relative;
    float:left;
    width:100%;
}


.resize {
  margin-left:0%;
  margin-right:0%;
}



#wrapper .text {
position:relative;
float:center;
opacity:0;
left:3%;
visibility:hidden;
transition:.4s;
}


#wrapper:hover .text {
visibility:visible;
opacity: 1;
transition: 0.5s;
}

#container {
  height: 100%;
  width:100%;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
}

/* _____________________________________________________________________DIVIDER ___________________________________________*/
/* FOR MOBILE */
@media screen and (min-width:400px) {
  .column{
    float:left;
    width:100%;
    margin-top:-6px;
    position:relative;
}

.column3{
    position:relative;
    float:left;
    width:33.333%;
}


h1 {font-size:5em;
  font-family: 'Quicksand', sans-serif;
  color:black;
  letter-spacing: 1px;
}


h3 {font-size:2em;
  font-family: 'Quicksand', sans-serif;
  color:black;
}
}

/* FOR MOBILE */
@media screen and (min-width:600px) {
  .column{
    float:left;
    width:100%;
    margin-top:-6px;
    position:relative;
}

.column-project{
    width:48%;
    float:left;
    position:relative;
    margin-left:5px;
    margin-bottom:2em;
  }

.column3{
    position:relative;
    float:left;
    width:33.333%;
}

h1 {font-size:5em;
  font-family: 'Quicksand', sans-serif;
  color:black;
  letter-spacing: 1px;
}

h3 {font-size:2em;
  font-family: 'Quicksand', sans-serif;
  color:black;
}
}


/* FOR IPAD/DESKTOP*/

@media screen and (min-width:800px) {
  .column{
    float:left;
    width:48%;
    margin:1%;
    position:relative;
}

.column3{
    position:relative;
    float:left;
    width:33.333%;
}

.column-project{
    width:48%;
    float:left;
    position:relative;
    margin-left:5px;
    margin-bottom:2em;
  }


.intro {
  margin-left:20%;
  margin-right:20%;
  text-align:left;
  margin-top:20%;
  margin-bottom:10%;
}
.intro2 {
  margin-left:25%;
  margin-right:25%;
  text-align:left;
  margin-top:5%;
  margin-bottom:15%;
}
.projects {
  margin-right:10%;
  margin-left:10%;
}


h1 {font-size:5em;
  font-family: 'Quicksand', sans-serif;
  color:black;
  letter-spacing: 1px;
}

h3 {font-size:2em;
  font-family: 'Quicksand', sans-serif;
  color:black;
  line-height:5vh;
}
}


@media screen and (min-width:1000px) {
  .column{
    width:48%;
    margin:1%;
    position:relative;
}

.column3{
    position:relative;
    float:left;
    width:33.333%;
}

.column-project{
    width:48%;
    float:left;
    position:relative;
    margin-left:5px;
    margin-bottom:2em;
  }


.intro {
  margin-left:20%;
  margin-right:20%;
  text-align:left;
  margin-top:20%;
  margin-bottom:10%;
}
.intro2 {
  margin-left:25%;
  margin-right:25%;
  text-align:left;
  margin-top:5%;
  margin-bottom:15%;
}
.projects {
  margin-right:15%;
  margin-left:15%;
}

.about {
  margin-left:25%;
  margin-right:25%;
  text-align:left;
  margin-top:10%;
  margin-bottom:3%;
}


h1 {font-size:5em;
  font-family: 'Quicksand', sans-serif;
  color:black;
  letter-spacing: 1px;
}

h3 {font-size:2em;
  font-family: 'Quicksand', sans-serif;
  color:black;
  line-height:5vh;
}
}
